<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

   <title>Pricing example for Bootstrap</title>

   <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">

   <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

   <!-- Custom styles for this template -->
   <link href="pricing.css" rel="stylesheet">
</head>

<body style="overflow-x: hidden;">
   <%- include('header'); -%>
   <%- include('main'); -%>
   <div class="mx-auto" style="width: 800px;">
      <%- include('footer'); -%>
   </div>
   <!-- Bootstrap core JavaScript
    ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
   </script>
</body>

</html>